@import url("https://fonts.cdnfonts.com/css/berlin-sans-fb-demi");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@600&family=Rubik:wght@700&display=swap");
@import url("https://css.gg/details-more.css");
/* IMPORTA LAS TIPOGRAFIAS E ICONOS */

* {
  padding: 0px;
  margin: 0px;
  /* REINICIA LOS VALORES POR DEFECTO DEL NAVEGADOR */
}

:root {
  --red: #ff3838;
  --white: #ffffff;
  --black: #000000;
  --colorFondo: #fffff;
  --colorPrimario: #800000;
  --colorSecundario: #ffffff;
  /* VARIABLES GLOBALES DEL DOCUMENTO */
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--colorFondo) !important;
  font-family: "Rubik", sans-serif !important;
}

/* ESTILOS DEL MENU DE NAVEGACION*/

.navegacion {
  background-color: var(--colorPrimario);
  padding: 30px 10px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-family: "Rubik", sans-serif;
}

.navegacion a {
  float: left;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
  line-height: 25px;
  padding: 12px;
  text-decoration: underline;
}

.navegacion__navegacion-list a:hover {
  color: var(--red);
}

.navegacion__navegacion-list a.active {
  color: var(--red);
}

.navegacion__navegacion-list a {
  transition: color 0.5s ease;
}

.navegacion .navegacion__icon {
  display: none;
}

.navegacion ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navegacion li {
  list-style: none;
}

/* ESTILOS DE LA TIRA DE LA CABECERA */

.tira-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tira-header__img {
  width: 80%;
}

.navtop {
  background-color: #2f3947;
  height: 60px;
  width: 100%;
  border: 0;
}

.navtop div {
  display: flex;
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}

.navtop div h1,
.navtop div a {
  display: inline-flex;
  align-items: center;
}

.navtop div h1 {
  flex: 1;
  font-size: 24px;
  padding: 0;
  margin: 0;
  color: #eaebed;
  font-weight: normal;
}

.navtop div a {
  padding: 0 20px;
  text-decoration: none;
  color: #c1c4c8;
  font-weight: bold;
}

.navtop div a i {
  padding: 2px 8px 0 0;
}

.navtop div a:hover {
  color: #eaebed;
}

body.loggedin {
  background-color: #f3f4f7;
}

.content {
  width: 1000px;
  margin: 0 auto;
}

.content h2 {
  margin: 0;
  padding: 25px 0;
  font-size: 22px;
  border-bottom: 1px solid #e0e0e3;
  color: #4a536e;
}

.content > p,
.content > div {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  margin: 25px 0;
  padding: 25px;
  background-color: #fff;
}

.content > p table td,
.content > div table td {
  padding: 5px;
}

.content > p table td:first-child,
.content > div table td:first-child {
  font-weight: bold;
  color: #4a536e;
  padding-right: 15px;
}

.content > div p {
  padding: 5px;
  margin: 0 0 10px 0;
}
